---
import HeroSection from "./HeroSection.astro";
const { title, id, end, collectionName } = Astro.props;
import { Icon } from "astro-icon/components";
import { getCollection, getEntry } from "astro:content";
import HeroCard from "./HeroCard.astro";
type EntryData = {
  alt: string;
  src: string;
  link: string;
  status: boolean;
  frontend: string[];
  backend: string[];
  programmingLanguages: string[];
};
const collection = (await getCollection(collectionName)) as {
  data: EntryData;
}[];
const Entries = await Promise.all(
  collection.map(async (entry) => {
    const langs = await Promise.all(
      entry.data.programmingLanguages.map(s =>
        getEntry("programmingLanguages", s)
      )
    );

    const front = await Promise.all(
      entry.data.frontend.map(s =>
        getEntry("frontend", s)
      )
    );

    const back = await Promise.all(
      entry.data.backend.map(s =>
        getEntry("backend", s)
      )
    );

    return [...langs, ...front, ...back];
  })
);

console.log('hey', Entries)
---

<HeroSection id={id} title={title} end={end}>
  <div
    id="default-carousel"
    class="relative w-3xl bg-slate-900 p-2 rounded-2xl"
    data-carousel="slide"
  >
    <div class=" overflow-x-hidden rounded-lg min-h-174 relative">
      {
        collection.map((entry, index) => {
          const {src, alt, link} = entry.data
          return (<div class="hidden duration-700 ease-in-out p-2" data-carousel-item>
            <img
              src={src}
              class="rounded-2xl object-cover"
              alt=""
            />
            <div class="text-center w-full -translate-y-8 h-fit bg-gradient-to-b from-slate-500/55 to-slate-500">
              <p class="py-1 text-purple-800 font-bold text-xl underline hover:text-purple-950 transition duration-75">

                <a href={link} target="_blank" rel="noopener noreferrer">{alt}</a>
              </p>
              
            </div>

            <div class="flex flex-wrap gap-3 items-center justify-center p-4 mt-2 bg-slate-900 rounded-b-2xl max-w-xl place-self-center">
              {Entries[index]?.map(i => (
                i && <HeroCard title={i?.data.title} icon={i?.data.icon} learned={i?.data.learned}/>
                )
              )}
              
            </div>
          </div>)
        })
      }
      

    </div>

    <div class="flex justify-between w-full items-center pt-2 px-10">
      <button
        type="button"
        class="size-8 rounded-full cursor-pointer bg-slate-500 flex items-center justify-center hover:bg-slate-600 transition duration-125"
        data-carousel-prev
      >
        <span class="inline-flex items-center justify-center">
          <Icon name="ri:arrow-left-line" />
        </span>
      </button>

      <div
        class="place-self-center p-2 bg-slate-500 rounded-3xl cursor-default"
      >
      {collection.map((entry, i) => {
          <button
          type="button"
          class="w-3 h-3 rounded -full"
          aria-current="true"
          data-carousel-slide-to={i}></button>
      })}
      </div>

      <button
        type="button"
        class="size-8 rounded-full cursor-pointer bg-slate-500 flex items-center justify-center hover:bg-slate-600 transition duration-125"
        data-carousel-next
      >
        <span class="inline-flex items-center justify-center">
          <Icon name="ri:arrow-right-line" />
        </span>
      </button>
    </div>
  </div>
  <!-- Slider indicators

     -->
</HeroSection>
